@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.Main
{
  height: 100vh;
  width: 100%;
  background-color: aqua;
}
.Nav
{
height: 15%;
display: flex;
justify-content: flex-end;
}
.Content
{
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  background-color:whitesmoke;
}
.Find
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 100%;
  background-color:bisque;
}
.Image
{
  height:100%;
}

.SearchBox
{
  height:75%;
  width: 95%;
  background-color: #75BF7A;
  border-radius: 30px;
}

h3
{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
}
.motto
{
  width: 70%;
}