@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.Main
{
  height: 100vh;
  width: 100%;
  background-color: gainsboro;
}
.Nav
{
height: 15%;
display: flex;
align-items: center;
gap: 60px;
justify-content: flex-end;
padding-right: 50px;
background-color: #BBE3F2;
}
.Content
{
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  background-color:whitesmoke;
}
.Find
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 100%;
  background-color:bisque;
}
.Image
{
  height:100%;
}

.SearchBox
{
  height:75%;
  width: 95%;
  background-color: #75BF7A;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;


}

h3
{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
}
.motto
{
  width: 70%;
}

.material-icons-sharp{
 font-size: 50px;
}
.button-text{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0px;
}